# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Banco local
db.sqlite3

# Uploads / imagens enviadas
media/

# Arquivos coletados de produção
staticfiles/
