{% extends 'motorartigos/base.html' %} <!-- herda todo o HTML de base.html, inclusive todas as tags-->  
{% load static %} 

<!-- Coloca todo o conteúdo da página no bloco de conteúdo-->

{% block content %}
    <h1>O melhor site de Django, IA e Data Science do Brasil</h1>

    <a href="{% url 'artigo' %}"> <!-- cria m href para usar o url name-->
        <img src="{% static 'img/logo-chatgpt.png' %}" alt=" logo do chatgpt dourado"> <!-- transfere o link da imagem para dentro do href-->
        <img src="{% static 'img/logo-claude.png' %}" alt="logo claude laranja com nome em preto">
        <img src="{% static 'img/logo-maritaca.png' %}" alt=" logo maritaca em verde representado por um papagaio">
    </a>
        
{% endblock%}