/*
    SELETOR ➡ pode ser:
    nome de uma tag
    #
    .

    <p></p> - prágrafo
    p{ - formata o parágrafo todo
        color:red;
    }
    .preto{ - serve para formatações específicas
        cor:black;
    }
*/

body{
    background-color: #9c7c7c
}
h1{
    color: white;
}
img{
    width: 10%;
}
